/* styles for the landing page */
.landing-page {
  padding-top: 110px; /*pushes the content down to make space for the fixed header*/
}

.heading {
  width: 80%; /* limits the width of the heading to 80% of the container */
  line-height: 1;
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 25px;
}

/* styles for the description text */
.description {
  font-size: 1.2rem;
  line-height: 1.2;
  color: #4b5563;
  margin-bottom: 35px;
}

/* styles for the container of the cards */
.card-container {
  display: flex; /* uses flexbox to layout the cards */
  flex-direction: column;
  gap: 40px;
}

/* styles for the image of the card */
.card img {
  width: 100%; /* makes the image take up the full width of the card */
  height: 25rem; /* sets a fixed height for the image */
  object-fit: cover;
}
/* styles for the name of the artist */
.card h3 {
  font-size: 1.9rem;
  font-weight: 500;
  margin-top: 2px; /* adds a small margin above the name */
  font-style: italic;
  color: var(--text);
}

/* styles for the location and genre */
.card-info {
  display: flex; /* uses flexbox to layout the location and genre */
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5px;
}
/* styles for the location and genre */
.card-info p {
  margin-top: 5px;
  font-size: 1.1rem;
  color: var(--small-text);
}

@media (min-width: 768px) {
  .card-container {
    display: grid; /* uses CSS grid to layout the cards in a grid format */
    grid-template-columns: repeat(2, 1fr);
  }

  /*  styles for the image of the card */
  .error {
    margin: 10px; /* reduces the margin for error messages */
    font-size: 1.5rem;
  }
}

@media (min-width: 1024px) {
  /* styles for the heading on larger screens */
  .heading {
    width: 50%; /* limits the width of the heading to 50%  */
    font-size: 4.5rem;
  }

  /* styles for the description on larger screens */
  .description {
    font-size: 1.5rem;
  }
  /*  styles for the container of the cards on larger screens */
  .card-container {
    display: grid; /* uses CSS grid to layout the cards in a grid format */
    grid-template-columns: repeat(
      3,
      1fr
    ); /* lays out the cards in three columns */
  }

  .card img {
    height: 27rem; /* sets a fixed height for the image */
  }
}
