/* styles for the navbar */
.navlinks {
  position: fixed; /* fixes the navbar to the top of the page */
  padding: 20px;
  border-bottom: 1px solid var(--small-text);
  left: 0px; /*  positions the navbar to the left edge of the page */
  right: 0px; /*  positions the navbar to the right edge of the page */
}

/*  styles for the list of links in the navbar */
.navlinks ul {
  display: flex; /* uses flexbox to layout the links in a row */
  justify-content: space-between;
  list-style: none;
}

/* styles for the logo link in the navbar */
.logo {
  color: var(--text);
}

/* styles for the bookings link in the navbar */
.bookings {
  color: var(--small-text);
}

/*  styles for the individual links in the navbar */
.navlinks li {
  font-size: 1.3rem;
  letter-spacing: 0.025;
  line-height: 1.75rem;
}

/* styles for the bookings container in the navbar */
.booking-container {
  display: flex; /*use flexbox to playout the booking link and notification badge */
  align-items: center;
}

/* styles for the notification badge in the navbar */
.notify {
  background-color: black;
  height: 20px; /* sets a fixed height for the badge */
  width: 20px; /* sets a fixed width for the badge */
  border-radius: 100%; /* makes the badge circular */
  text-align: center;
  color: var(--small-text);
  font-size: 1.1rem;
}

@media (min-width: 1024px) {
  /* styles for the bookings container in the navbar */
  .booking-container {
    gap: 4px; /* adds a small gap between the booking link and the notification badge */
  }
}
