/* styles for the artist page */
.artist-Pg {
  padding-top: 100px; /* pushes the content down to make space for the fixed header */
  padding-bottom: 50px;
}

/* styles for the back button */
.bck-btn {
  font-size: 1.1rem;
  color: var(--small-text);
  margin-bottom: 1rem;
}

/* styles for the artist's image */
.artist-img {
  width: 100%; /* makes the image take up the full width of the container */
  height: 21rem; /* sets a fixed height for the image */
  object-fit: cover;
}

/* styles for the artist-details container */
.artist-details {
  display: flex; /* uses flexbox to layout the artist's details */
  justify-content: space-between;
}

/* styles for the artist's name and location */
.artist-name,
.artist-location {
  font-size: 1.9rem;
  font-weight: 500;
  margin-top: 2px;
  font-style: italic;
  color: var(--text);
}

/* styles for the container of the artist's skills */
.artist-skills {
  display: flex; /* uses flexbox to layout the artist's skills */
  gap: 20px;
  align-items: center; /* vertically centers the skills */
}

/* styles for the artist's genre and social link */
.artist-social {
  border-bottom: 1px solid var(--text);
  font-size: 1.2rem;
}
.artist-social span {
  font-style: italic; /* makes the social link text italic */
  color: var(--text);
}

/* styles for the artist's genre */
.artist-genre {
  background-color: #6b69693f;
  padding: 4px 8px; /* adds padding around the genre text */
  font-size: 1.1rem;
  color: var(--text);
}

@media (min-width: 768px) {
  /* styles for the image and form */
  .artist-info {
    display: flex; /* uses flexbox to layout the image and form side by side */
    gap: 40px;
  }
}
