.artist-Pg {
  padding-top: 100px;
  padding-bottom: 50px;
}

.bck-btn {
  font-size: 1.1rem;
  color: var(--small-text);
  margin-bottom: 1rem;
}

/* styles for the artist's image */
.artist-img {
  width: 100%;
  height: 70vh;
  object-fit: cover;
}

/* styles for the artist-details container */
.artist-details {
  display: flex;
  justify-content: space-between;
}

/* styles for the artist's name and location */
.artist-name,
.artist-location {
  font-size: 1.9rem;
  font-weight: 500;
  margin-top: 2px;
  font-style: italic;
  color: var(--text);
}

/* styles for the container of the artist's skills */
.artist-skills {
  display: flex;
  gap: 20px;
  align-items: center;
}

/* styles for the artist's genre and social link */
.artist-social,
.artist-genre {
  border-bottom: 1px solid var(--text);
  font-size: 1.2rem;
}
.artist-social span {
  font-style: italic;
}

@media (min-width: 768px) {
  /* styles for the image and form */
  .artist-info {
    display: flex;
    gap: 40px;
  }
}
